html {
  font-family: Helvetica;
  font-size: 18px;
}

header {
  display: flex;
  background-color: black;
}

header img,
span {
  padding: 0.66rem 1rem 0.66rem 0.55rem;
  height: 1.5rem;
  position: relative;
  left: 225px;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.66rem;
  font-size: 1rem;
}

.main {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  height: 25rem;
}

.img-container {
  margin-top: 9rem;
  margin-left: 220px;
  height: 200px;
  background-color: black;
  width: 20rem;
}

.img-content h1 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
}

.img-content h2 {
  font-family: Helvetica;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
}

nav {
  display: flex;
  background-color: firebrick;
  height: 30px;
  align-items: center;
  justify-content: space-around;
}

nav span {
  color: white;
  padding-right: 130px;
}

.gadgets {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.container {
  border: 3px solid black;
  width: 30%;
}


.text {
background-color: black;
height: 40px;
width: 296px;
color: white;
position: relative;
bottom: 100px;
left: 38px;
text-align: center;
}

.text-two {
  background-color: black;
  height: 40px;
  width: 296px;
  color: white;
  position: relative;
  bottom: 150px;
  left: 433px;
  text-align: center;
}

.text-three {
  background-color: black;
  height: 40px;
  width: 450px;
  color: white;
  position: relative;
  bottom: 180px;
  left: 866px;
  text-align: center;
}

.location {
  background-color: black;
  height: 40px;
  width: 296px;
  color: white;
  position: relative;
  bottom: 100px;
  left: 38px;
  text-align: center;
}

.hours {
  background-color: black;
  height: 40px;
  width: 296px;
  color: white;
  position: relative;
  bottom: 140px;
  left: 649px;
  text-align: center;
}

p {
  font-weight: bold;
}

.copyright {
  background-color: black;
  color: white;
  height: 150px;
}

@media only screen and ()
